name: REUSE Compliance

on:
  push:
    branches:
      - main
      - feat/**
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  reuse:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Check REUSE compliance
        uses: fsfe/reuse-action@676e2d560c9a403aa252096d99fcab3e1132b0f5 # v6
